.settingsWrap {
    display: flex;
    justify-content: start;
    flex-direction: row;
    height: 70%;
    width: 80%;
    background: white;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
}

#settings:not(.invisible) {
    display: flex !important;
    justify-content: center;
    width: 100%;
}

.s-options {
    width: 20%;
    height: 100%;
    background: #f3f3f3;
    display: flex;
    justify-content: start;
}

.s-options ul {
    list-style: none;
    padding: 15px;
    margin: 20px auto;
}

.s-options ul li {
    margin: 5px auto;
    width: 100%;
}

.s-options ul li a {
    position: relative;
    font-family: Poppins, sans-serif;
    color: #272727;
    text-decoration: none;
    font-size: 15px;
    transition: all .5s ease-in-out;
    border-bottom: 1px solid #a1a1a1;
}

.s-configurations {
    width: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-right: 2px;
    padding-right: 2px;
}

.s-configurations>section {
    width: 100%;
    height: 100%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2px;
}

.s-configurations>section h2 {
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    border-bottom: 1px solid gainsboro;
    margin: 5px 5px;
}

.s-configurations h3 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #272727;
    margin: 15px 15px 0;
}

.s-configurations label {
    margin: 5px 20px;
    padding-left: 48px;
    position: relative;
    height: 20px;
}

.s-configurations h4 {
    margin: 5px auto 0;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 17px;
}

.s-configurations p {
    margin: 0 auto 15px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 13px;
}

.s-configurations h5 {
    margin: 5px auto;
    font-family: Poppins, sans-serif;
    color: rgb(65, 65, 65);
    font-size: 15px;
}

.s-configurations h5 span {
    color: #6C7486;
    font-size: 13px;
}

.s-configurations label span {
    line-height: 21px;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #6C7486;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    width: 100%;
    font-family: Poppins, Arial;
}

.s-configurations::-webkit-scrollbar {
    display: none;
}


@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'], input[type='radio'] {
        --active: rgb(67, 200, 90);
        --active-inner: #fff;
        --input-border: #CDD9ED;
        --input-border-hover: #23C4F8;
        --background: #fff;
        --disabled: #F5F9FF;
        --disabled-inner: #E4ECFA;
        --shadow-inner: rgba(18, 22, 33, .1);
        height: 21px;
        outline: none;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0;
        padding: 0;
        box-shadow: none;
        cursor: pointer;
        height: 21px;
        border: 1px solid var(--input-border);
        background: var(--background);
        transition: background .3s ease, border-color .3s ease;
    }
    input[type='checkbox']:after, input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: opacity .2s ease, -webkit-transform .3s ease, -webkit-filter .3s ease;
        transition: transform .3s ease, opacity .2s ease, filter .3s ease;
        transition: transform .3s ease, opacity .2s ease, filter .3s ease, -webkit-transform .3s ease, -webkit-filter .3s ease;
    }
    input[type='checkbox']:checked, input[type='radio']:checked {
        background: var(--active);
        border-color: var(--active);
    }
    input[type='checkbox']:checked:after, input[type='radio']:checked:after {
        -webkit-filter: drop-shadow(0 1px 2px var(--shadow-inner));
        filter: drop-shadow(0 1px 2px var(--shadow-inner));
        transition: opacity 0.3s ease, -webkit-filter 0.3s ease, -webkit-transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
        transition: opacity 0.3s ease, filter 0.3s ease, transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
        transition: opacity 0.3s ease, filter 0.3s ease, transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2), -webkit-filter 0.3s ease, -webkit-transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
    }
    input[type='checkbox']:disabled, input[type='radio']:disabled {
        cursor: not-allowed;
        opacity: .9;
        background: var(--disabled);
    }
    input[type='checkbox']:disabled:checked, input[type='radio']:disabled:checked {
        background: var(--disabled-inner);
        border-color: var(--input-border);
    }
    input[type='checkbox']:hover:not(:checked):not(:disabled), input[type='radio']:hover:not(:checked):not(:disabled) {
        border-color: var(--input-border-hover);
    }
    input[type='checkbox']:not(.switch), input[type='radio']:not(.switch) {
        width: 21px;
    }
    input[type='checkbox']:not(.switch):after, input[type='radio']:not(.switch):after {
        opacity: 0;
    }
    input[type='checkbox']:not(.switch):checked:after, input[type='radio']:not(.switch):checked:after {
        opacity: 1;
    }
    input[type='checkbox']:not(.switch) {
        border-radius: 6px;
    }
    input[type='checkbox']:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    input[type='checkbox']:not(.switch):checked:after {
        -webkit-transform: rotate(43deg);
        transform: rotate(43deg);
    }
    input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }
    input[type='checkbox'].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--input-border);
    }
    input[type='checkbox'].switch:checked:after {
        background: var(--active-inner);
        -webkit-transform: translateX(17px);
        transform: translateX(17px);
    }
    input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: .6;
    }
    input[type='radio'] {
        border-radius: 50%;
    }
    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    input[type='radio']:checked:after {
        background: var(--active-inner);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

.s-configurations input[type='checkbox'] {
    position: absolute;
    left: 0;
    top: 0;
}

.s-configurations button{
    -webkit-appearance: none;
    width: 200px;
    border: none;
    outline: none;
    background: rgba(194, 94, 94, 0.527);
    color: #d15454;
    margin: 5px auto;
    padding: 8px;
    font-family: Poppins, sans-serif;
    letter-spacing: 1px;
    opacity: 8;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.s-configurations button:hover{
    background: rgba(194, 94, 94,1);
    cursor: pointer;
    color: white;
}